[phases.setup]
nixPkgs = ["python311", "postgresql"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

[start]
cmd = "gunicorn nane.wsgi:application --bind 0.0.0.0:$PORT --workers 4 --timeout 120"
